* {padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}

main {background-color: #f4f4f4;}

header {background-color: #f4f4f4;
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        z-index: 45;
        }
    
.navbar_list--menu {
        display: inline-block;
        padding: 0px 20px;
        list-style-type: none;
        transition: all 0.3s ease 0s;
        color: #c0b283;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;}
    ul li:hover {
        background-color: #c0b283;
        color: white;}
    
/*IMAGEN INTRO */
    
.mainbanner {width: 100%;
        height: 400px;
        background-color: rgb(48, 47, 47);
        background-blend-mode: soft-light;
        background-image: url(https://assets.teenvogue.com/photos/5e6bffbbdee1770008c6d9bd/16:9/w_2560%2Cc_limit/GettyImages-577674005.jpg);
        background-size: cover;}
.mainbanner img {width: 100%;
    height: 400px;}

/* NOVEDADES */
.novedades_texto {margin-left: 3%;
    margin-top: 5%;}


/* LO MAS VENDIDO */
.vendidos_texto {margin-left: 3%;
    margin-top: 5%;}

/* CATALOGO */
.catalogo_texto {text-align: center;
    margin-top: 5%;}

/* FOOTER */
footer {height: 200px;
    width: 100%;
    background-color: #dcd0c0;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #373737;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;}

.redes {display: flex;}

/* MEDIA QUERIES */

@media (max-width: 767px) {
   
    .container_catalogo--catalogo {flex-wrap: wrap;}
    .container_catalogo--catalogo button {max-width: 100px;}
    
    .navbar_list {display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 10%;}
        } 