/* CONTACTO */

form {width: 450px;
    margin: auto;
    background: #cccccc;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 2%;
    border-radius: 7px;
    margin-bottom: 2%;}
.contacto_texto {text-align: center;}
input, textarea {width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;}

/*SLIDE  */
.carousel-item {height: 550px;}
.darken {background-color: #000;}
.darken img {opacity: 0.4}

/* HR UBICACION */
hr {margin-left: 10%;
    margin-right: 10%;}

/* MAIN BANNER */
.banner {width: 100%;
    height: 400px;
    background-image: url(https://i1.wp.com/oecdedutoday.com/wp-content/uploads/2021/01/Child-safety-in-the-digital-age.jpg?fit=1200%2C675&ssl=1);
    background-size: cover;
    color: white;
    background-color: rgb(48, 47, 47);
    background-blend-mode: soft-light;}

    
