.navbar_list--menu {
    display: inline-block;
    padding: 0px 20px;
    list-style-type: none;
    transition: all 0.3s ease 0s;
    color: $colordorado;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;}
ul li:hover {
    background-color: $colordorado;
    color: white;}